GEMINI_API_KEY=
OPENROUTER_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
OPENROUTER_MODEL=qwen/qwen3.6-plus:free

LANGFUSE_SECRET_KEY="sk-lf-YOUR_SECRET_KEY_HEREYOUR_SECRET_KEY_HERE"
LANGFUSE_PUBLIC_KEY="pk-lf-YOUR_PUBLIC_KEY_HEREYOUR_PUBLIC_KEY_HERE"
LANGFUSE_BASE_URL="https://cloud.langfuse.com"